jupyterlab
ipykernel
numpy<2
pillow
matplotlib
tifffile
csbdeep
stardist
gputools
tensorflow[and-cuda]==2.20.0
imgaug
ultralytics
onnx
onnxscript
onnxslim
onnxruntime
scikit-image
shapely
fastapi
uvicorn[standard]
python-multipart
